# Visual Studio cache/options directory
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
/ASP Empty WebApplication 01/users.db
/ASP Empty WebApplication 01/users.db-shm
/ASP Empty WebApplication 01/users.db-wal
